/*
#282c34
*/

.App {
  text-align: center;
}

.App-container {
  background-color: #ccc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

#editor {
  margin: 5px;
  width: 100%;
  color: black;
  font-size: 0.7em;
}

#preview {
  background-color: white;
  margin: 5px;
  width: 100%;
  height: 75vmin;
  overflow: auto;

}